<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QuoteMaster</title>
    <link rel="stylesheet" href="../styles/homepage.css" />
    <link rel="icon" href="../images/teddy.png" />
  </head>
  <body>
    <main>
      <div class="left">
        <img src="../images/teddy.png" alt="teddy" class="teddy" />
      </div>
      <div class="right">
        <h1 class="rightText">
          Good Morning, <span class="name">Master</span>!
        </h1>
        <form action="/">
          <select name="category" id="category">
            <option value="Random">Choose Category</option>
            <option value="Happiness">Happiness</option>
            <option value="Alone">Alone</option>
            <option value="Birthday">Birthday</option>
            <option value="Cool">Cool</option>
            <option value="Education">Education</option>
            <option value="Fear">Fear</option>
            <option value="Family">Family</option>
            <option value="Hope">Hope</option>
            <option value="Life">Life</option>
            <option value="Money">Money</option>
          </select>
          <input type="submit" value="GENERATE QUOTE" />
        </form>
      </div>
    </main>
    <script src="./frontend/scripts/homepage.js"></script>
  </body>
</html>
