<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QuoteMaster</title>
    <link rel="stylesheet" href="https://quote-master-8nncpizqr-mistermickey.vercel.app//styles/styles.css" />
    <link rel="icon" type="image/png" href="https://quote-master-8nncpizqr-mistermickey.vercel.app/images/teddy.png" />
  </head>
  <body>
    <div class="parentContainer">
        <h1>What's your Good Name, Beautiful Person?</h1>
        <input id="userName" type="text" placeholder="Enter Your Name.." />
        <button id="submit">LETS GO!</button>
    </div>
    <script src="https://quote-master-8nncpizqr-mistermickey.vercel.app/scripts/index.js"></script>
  </body>
</html>
