<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QuoteMaster</title>
    <link rel="stylesheet" href="../styles/quote.css" />
    <link rel="icon" href="../images/teddy.png" />
  </head>
  <body>
    <main>
      <div class="left">
        <img src="../images/teddy.png" alt="teddy" class="teddy" />
      </div>
      <div class="right">
        <select name="category" id="categorySelect">
          <option value="">Choose Category</option>
          <option value="Happiness">Happiness</option>
          <option value="Alone">Alone</option>
          <option value="Birthday">Birthday</option>
          <option value="Cool">Cool</option>
          <option value="Education">Education</option>
          <option value="Fear">Fear</option>
          <option value="Family">Family</option>
          <option value="Hope">Hope</option>
          <option value="Life">Life</option>
          <option value="Money">Money</option>
        </select>
        <div class="quote">
          <div class="quoteText">
            <p>
              Amateurs sit and wait for inspiration, the rest of us just get up
              and go to work.
            </p>
          </div>
          <div class="quoteButtons">
            <button>NEXT QUOTE</button>
            <div>--Master Mickey</div>
          </div>
        </div>
      </div>
    </main>
    <script src="../scripts/quote.js" type="module"></script>
  </body>
</html>
